/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 11, 2014, 7:05:48 PM
    Author     : Apollowc
*/

#circle {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px; 
}

#twitch_com{
    width:1024px;
    height:400px;
}


#summoner-titlebar {
position: relative;
height: 142px;
margin-bottom: 10px;
margin-left: 2px;
width: 858px;
overflow: hidden;}

#summoner-icon {
position: relative;
height: 60px;
margin-left: 2px;
width: 60px;
padding-left: 20px;
padding-top: 20px;}

.summoner-icon {
position: relative;

height: 60px;
width: 60px;}


.searchBar{
    width:700px;
    margin-left: 300px;
}

#butt1{
    background-image: url('../images/bundle/img/champion/loading/Ashe_6.jpg') ;
    width:100px;
    height:500px;
}

.master_panel{
    height:500px !important;
}

.child_panel{
    visibility: hidden;
}

.child_panel2{
    width:100px;
    height:500px !important;
}

.child_panel3{
    width:100px;
    height:500px !important;
   // display: none;
}

.child_panel4{
    width:100px;
    height:500px !important;
       // display: none;
}

.masteryBackground{
    background-image:  url('../images/bundle/img/mastery/masteryback.png');
    width:827px;
    height:479px;
    
}

.masteryBackground tr td{
    border:0px !important;
}


.runeBackground{
    background-image:  url('../images/bundle/img/runebook/runeBack.png');
    width:656px;
    height:436px;
    
}

.runeBackground tr td{
    border:0px !important;
}
