/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 11, 2014, 7:05:48 PM
    Author     : Apollowc
*/

#circle {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px; 
}

#twitch_com{
    width:1024px;
    height:400px;
}


#summoner-titlebar {
position: relative;

height: 142px;
margin-bottom: 10px;
margin-left: 2px;
width: 858px;
overflow: hidden;}

#summoner-icon {
position: relative;

height: 40px;
margin-bottom: 10px;
margin-left: 2px;
width: 40px;
overflow: hidden;}

.back{
    //background-image: url('http://lkimg.zamimg.com/shared/riot/images/profile_icons/profileIcon663.jpg');
    background-color: black;
    height:30px;
}

